In [2]:
import streamlit as st 
from scrapper import fk_scrapper_functions as sc
from scrapper import flipkart_json_scrapper_with_all_specifications as fk_scrapper
import time
import pandas as pd
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
competitor_data=pd.read_pickle('competitor_data.pkl')

d:\personal_git\data science\portfolio projects\Competition analysis\.venv\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
competitor_data=pd.read_pickle('competitor_data.pkl')
st.write(competitor_data['all_specs'][0].get('Model Name'))
competitor_data['brand']=competitor_data['title'].str.split(" ").str[0]
brand_level_data=competitor_data.copy()
st.dataframe(brand_level_data)
for index, row in brand_level_data.iterrows():
    specs = row['all_specs']
    for key, value in specs.items():
        if key not in brand_level_data.columns:
            brand_level_data[key] = None
        brand_level_data.at[index, key] = value
most_important_feature={}
feature_name=[]
feature_count=[]
for column in brand_level_data.columns:
    feature_name.append(column)
    feature_count.append(brand_level_data[column].count())
most_important_feature['feature_name']=feature_name
most_important_feature['feature_count']=feature_count
important_features=pd.DataFrame(most_important_feature)
important_features['feautre_present_in_%_of_products']=important_features['feature_count']*100/important_features['feature_count'].max()
filtered_important_features=important_features[important_features['feautre_present_in_%_of_products'] >=10]['feature_name'].to_list()
final_scrapped_data=brand_level_data[filtered_important_features]

2024-07-01 11:55:37.974 Serialization of dataframe to Arrow table was unsuccessful due to: ("Could not convert '' with type str: tried to convert to double", 'Conversion failed for column rating with type object'). Applying automatic fixes for column types to make the dataframe Arrow-compatible.

In [72]:
final_scrapped_data['final_selling_price']=final_scrapped_data['final_selling_price'].astype(float)

C:\Users\kashy\AppData\Local\Temp\ipykernel_7200\3423002352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_scrapped_data['final_selling_price']=final_scrapped_data['final_selling_price'].astype(float)

In [70]:
min_price=final_scrapped_data['final_selling_price'].min()
max_price=final_scrapped_data['final_selling_price'].max()

In [76]:
final_scrapped_data=final_scrapped_data[(final_scrapped_data['final_selling_price']>min_price)&(final_scrapped_data['final_selling_price']<max_price)]

In [30]:
options_to_select = []
for column in filtered_important_features:
    if column not in competitor_data.columns.to_list():
        options_to_select.append(column)

In [89]:
Brand_dominance=pd.DataFrame(final_scrapped_data['brand'].value_counts())
Brand_dominance.reset_index(inplace=True)
Brand_dominance['Market_share']=Brand_dominance['count']*100/Brand_dominance['count'].sum()
Brand_dominance.loc[Brand_dominance['count']<5,'Brand_type'] = 'others'
Brand_dominance['Brand_type'].fillna(Brand_dominance['brand'],inplace=True)
Brand_dominance.groupby('Brand_type')['count'].sum()

C:\Users\kashy\AppData\Local\Temp\ipykernel_7200\75359556.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Brand_dominance['Brand_type'].fillna(Brand_dominance['brand'],inplace=True)

Brand_type
Apple            7
Aroma           46
BULLSTORM        5
BUNAS            9
Bashaam          7
Bluei           10
Boult           63
CIHYARD          6
CMF              5
CROSSLOOP        7
Concept         11
D1Y3             5
EARBOOTH         7
Fire-Boltt      10
GENWARP          9
Grooves          8
HOPPUP          19
HOUSE           22
IZWI             5
JBL             22
KZ               6
LELISU          51
MSNR            37
Microflash       7
Mivi            30
Mozu             5
NEXWARP          6
Nilesawar        7
Noise           47
Nothing          5
Number           7
OPPO             6
OnePlus         16
PRODART          5
PROWARP          6
Portronics      21
Rueqn            6
SONY            16
Sagaft           5
TECHFIRE        13
TEMPT            5
TIMBRESONIC      5
TRIGGR           7
TXOR             5
Ucool            8
Varitas          5
Vntex           12
WINGS            6
XEWISS          18
Ycom            10
ZEBRONICS       13
boAt            88
jedi             6
jkg             10
others         269
realme          21
truke           20
Name: count, dtype: int64

In [82]:
Brand_dominance

      brand  count  Market_share    Brand_type
0      boAt     88      8.051235      8.051235
1     Boult     63      5.763952      5.763952
2    LELISU     51      4.666057      4.666057
3     Noise     47      4.300091      4.300091
4     Aroma     46      4.208600        4.2086
..      ...    ...           ...           ...
212   Happy      1      0.091491  Not dominant
213  SNOKOR      1      0.091491  Not dominant
214    Kiwi      1      0.091491  Not dominant
215  Hitage      1      0.091491  Not dominant
216    ASUS      1      0.091491  Not dominant

[217 rows x 4 columns]

Brand_type
Not dominant    46.484018
dominant        53.515982
Name: Market_share, dtype: float64

In [66]:
Brand_dominance

      brand  count  Market_share    Brand_type
0      boAt     88      8.036530      dominant
1     Boult     63      5.753425      dominant
2    LELISU     51      4.657534      dominant
3     Noise     47      4.292237      dominant
4     Aroma     46      4.200913      dominant
..      ...    ...           ...           ...
212   Happy      1      0.091324  Not dominant
213  SNOKOR      1      0.091324  Not dominant
214    Kiwi      1      0.091324  Not dominant
215  Hitage      1      0.091324  Not dominant
216    ASUS      1      0.091324  Not dominant

[217 rows x 4 columns]